{{!-- <form method="POST" action="/pantry/{{pantry._id}}?_method=DELETE">
    <input type="submit" value="Delete pantry" />
</form> --}}
{{!-- <a href="pantry/editpantryForm">Edit</a> --}}

<h1>Pantry</h1>
{{!-- changed to from new to new<name> --}}
<a href="/grain/new">Grain</a>
<ul>
    {{#each grain}}
<li>
    <a href="/newGrain/{{_id}}">
    {{name}}
    </a>
</li>
{{/each}}
</ul>
<a href="/pantry/newGreen">Green</a>
<a href="/pantry/newProtein">Protein</a>
<ul>
    {{#each allpantry}}
    <li>
    <a href="/pantry/{{_id}}/edit">Item {{name}}</a>
    </li>
    
    {{/each}}
</ul>
